---
layout: default
title: Our Projects
description: Interventions for spatial justice
permalink: /projects/
---

<section role="main">
  <div class="small-12 columns">
    <h1 class="mvl text-center">{{ page.title }}</h1>

    {% assign sorted_projects = (site.projects| sort: 'start') | reverse %}
    <div class="js-masonry row small-up-1 medium-up-2 large-up-3">
      {% for p in sorted_projects %}
        <div class="project column">
          <div class="project__info">
            <div class="project__type">
              {% case p.type %}
              {% when 'consultancy' %}
              Consultancy
              {% when 'phd' %}
              PhD Thesis
              {% when 'ma-yearbook' %}
              MA Yearbook
              {% endcase %}
            </div>
            <h3>
              <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
            </h3>
            <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
          </div>
          <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $(window).load(function(){
      $('.js-masonry').masonry({
        itemSelector: '.js-masonry div'
      });
    });
  </script>
</section>
