---
layout: default
title: Our Projects
description: Interventions for spatial justice
permalink: /projects/
---

<section role="main">
  <div class="small-12 columns">
    <h1 class="mvl text-center">{{ page.title }}</h1>

    {% assign sorted_projects = (site.projects| sort: 'start') | reverse %}
    <div class="js-masonry row small-up-1 medium-up-2 large-up-3">
      {% for project in sorted_projects %}
        <div class="project column">
          <div class="project__info">
            <h3>
              <a href="{{ site.github.url }}{{ project.url }}">{{project.title}}</a>
            </h3>
            <p class="project__date">{{ project.start }}{% if project.finish %} &mdash; {{ project.finish }}{% endif %}</p>
          </div>
          <img class="project__image" src="{{ site.github.url }}{{ project.url }}preview.jpg">
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $(window).load(function(){
      $('.js-masonry').masonry({
        itemSelector: '.js-masonry div'
      });
    });
  </script>
</section>
