---
layout: default
title: Research and Consultancy
permalink: /research/
---

<section role="main">
  <div class="small-12 columns">
    <h1 class="mvl text-center">{{ page.title }}</h1>

    <div class="row">
      <div class="medium-9 large-7 small-centered column">

        <p class="mbm">We conduct doctoral research into the spatial dimensions of social exclusion.</p>

        <p class="mbm">We emphasise design-research, collaborative, and interdiciplinary methodologies.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 large-4 columns">
        <h3 class="text-center">World-class research</h3>
        <p>Our work has been cited as World Class by World Health Organisation representatives.</p>
        <p>Get in touch to find out about how we can help build healthier communities, together</p>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <h3 class="text-center">Pioneering partnerships</h3>
        <p>We specialise in creating unique partnerships that get the maximum community impact.</p>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <h3 class="text-center">Community engagement</h3>
        <p>We've developed strong, lasting community links that mean our work gets to the most deprived in society.</p>
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <h2 class="mvl">Recent work</h2>
  </div>

  <div class="small-12 columns">
    {% assign sorted_projects = (site.work | where: "type", "consultancy" | sort: 'start') | reverse %}
    <div class="js-masonry row small-up-1 medium-up-2 large-up-3">
      {% for p in sorted_projects %}
        <div class="project column">
          <div class="project__info">
            <h3>
              <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
            </h3>
            <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
          </div>
          <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
        </div>
      {% endfor %}
    </div>
  </div>
  {% include masonry.html %}
</section>
