---
layout: default
title: Study with us
permalink: /study/
---

<section role="main">
  <div class="small-12 columns">
    <h1 class="mvl text-center">{{ page.title }}</h1>

    <div class="row">
      <div class="medium-9 large-7 small-centered column">
        <p class="mbl">Boilerplate text here about CSI as a place to study from undergrad to world-class researcher</p>
      </div>
    </div>
  </div>

  <div class="row mbl">
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">Undergraduate study</h3>
      <p>MSA Praxis is a BA3 atelier at the Manchester School of Architecture.</p>
      <p>We investigate real communities whilst using the architectural, research and creative skills of the students in parallel with the deep local knowledge of residents.</p>
      <p class="text-center"><a class="button" href="https://msapraxis.wordpress.com/">MSA Praxis Blog</a> <a class="button" href="#">Undergraduate prospectus</a></p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">Postgraduate projects</h3>
      <p>MSA projects is a research led teaching and learning environment which operates alongside the delivery of live, commissioned design-research undertaken by cSI at the Manchester School of Architecture (MSA).</p>
      <p>It produces design-research addressing the spatial dimensions of social exclusion and community-engaged design projects developing inclusive urban environments.</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">PhD Opportunities</h3>
      <p>Want to do a PhD at cSI?</p>
      <p>Get in touch!</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>PhD Theses</h2>
      <p>Doctoral research by CSI students and staff.</p>
    </div>

    <div class="small-12 mbl columns">
      {% assign sorted_projects = (site.work | where: "type", "phd" | sort: 'start') | reverse %}
      <div class="js-masonry row small-up-1 medium-up-2 large-up-3">
        {% for p in sorted_projects %}
          <div class="project column">
            <div class="project__info">
              <h3>
                <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </h3>
              <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
            </div>
            <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>MA Yearbooks</h2>
      <p>Compilations of our final year MA students' work.</p>
    </div>

    <div class="small-12 columns">
      {% assign sorted_projects = (site.work | where: "type", "ma-yearbook" | sort: 'start') | reverse %}
      <div class="js-masonry row small-up-1 medium-up-2 large-up-3">
        {% for p in sorted_projects %}
          <div class="project column">
            <div class="project__info">
              <h3>
                <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </h3>
              <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
            </div>
            <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include masonry.html %}
</section>
