---
layout: default
title: Study with us
permalink: /study/
---

<section role="main">

  {% include title.html %}

  <div class="row">
    <div class="medium-9 large-7 small-centered column">
      <h5 class="mbl medium-text-center subheader">PHASE is a great a place to study, from undergraduate courses to world-class research.</h5>
    </div>
  </div>


  <div class="row mbl" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">PhD Opportunities</h3>
      <div class="mbl" data-equalizer-watch>
        <p>Our staff possess a unique and broad range of interests and expertise across theory and design, policy and practice.</p>
        <p>Research students have their own rooms and facilities located physically at the heart of the School and are centrally involved in all scholarly activities</p>
      </div>
      <p class="text-center">
        <a class="button" href="http://www.msa.ac.uk/study/phd/">PhD/MPhil information</a>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">Postgraduate projects</h3>
      <div class="mbl" data-equalizer-watch>
        <p>MSA projects is a research led teaching and learning environment which operates alongside the delivery of live, commissioned design-research undertaken by PHASE at the Manchester School of Architecture (MSA).</p>
        <p>It produces design-research addressing the spatial dimensions of social exclusion and community-engaged design projects developing inclusive urban environments.</p>
      </div>
      <p class="text-center">
        <a class="button" href="http://projects.msa.ac.uk/">MSA Projects Blog</a>
        <a class="button" href="http://www.msa.ac.uk/study/ma/architecture-and-urbanism/">MA prospectus</a>
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="text-center">Undergraduate study</h3>
      <div class="mbl" data-equalizer-watch>
        <p>MSA Praxis is a BA3 atelier at the Manchester School of Architecture.</p>
        <p>We investigate real communities whilst using the architectural, research and creative skills of the students in parallel with the deep local knowledge of residents.</p>
      </div>
      <p class="text-center">
        <a class="button" href="https://msapraxis.wordpress.com/">MSA Praxis Blog</a>
        <a class="button" href="http://www.msa.ac.uk/study/ba/">BA (Hons) prospectus</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>PhD Theses</h2>
      <p>Doctoral research by PHASE students and staff.</p>
    </div>
  </div>

  <div class="row">
    <div class="js-masonry small-up-1 medium-up-2 large-up-3">
      {% assign projects = (site.work | where: "type", "phd" | sort: 'start') | reverse %}
      {% include project-grid.html %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>MA Yearbooks</h2>
      <p>Compilations of our final year MA students' work.</p>
    </div>
  </div>

  <div class="row">
    <div class="js-masonry small-up-1 medium-up-2 large-up-3">
      {% assign projects = (site.work | where: "type", "ma-yearbook" | sort: 'start') | reverse %}
      {% include project-grid.html %}
    </div>
  </div>

  {% include masonry.html %}

</section>
