---
layout: default
title: Our Work
description: Interventions for spatial justice
permalink: /work/
---

<section role="main">

  {% include title.html %}

  <div class="row mbl">
    <div class="medium-9 large-7 small-centered column">
      <p class="mbm">cSI is home to dozens of projects and urban interventions, from undergraduate final-year assignments to world-class research consultancy.</p>
      <p class="mbm">[Filter bar to come]</p>
    </div>
  </div>
  
  <div class="row">
    {% assign sorted_projects = (site.work| sort: 'start') | reverse %}
    <div class="js-masonry small-up-1 medium-up-2 large-up-3">
      {% for p in sorted_projects %}
        <div class="project column">
          <div class="project__info">
            <div class="project__type">
              {% case p.type %}
                {% when 'consultancy' %}
                  Consultancy
                {% when 'phd' %}
                  PhD Thesis
                {% when 'ma-yearbook' %}
                  MA Yearbook
              {% endcase %}
            </div>
            <h3>
              <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
            </h3>
            <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
          </div>
          <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
        </div>
      {% endfor %}
    </div>
  </div>
  {% include masonry.html %}
</section>
