{% for p in projects %}
  <div class="project {% if include.no-grid != "true" %}column{% endif %}">
    <div class="project__info">
      {% if include.key == "true" %}
        <div class="project__type">
          {% case p.type %}
            {% when 'consultancy' %}
              Consultancy
            {% when 'phd' %}
              PhD Thesis
            {% when 'ma-yearbook' %}
              MA Yearbook
          {% endcase %}
        </div>
      {% endif %}
      <h3>
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </h3>
      <div class="project__date">{{ p.start }}{% if p.finish %} &mdash; {{ p.finish }}{% endif %}</div>
    </div>
    <img class="project__image" src="{{ site.baseurl }}{{ p.url }}preview.jpg">
  </div>
{% endfor %}
