{% include head.html %}
  <div class="row column">
    <section role="main">
      <div class="small-12 columns">
        <h1 class="mtl">{{ page.title }}</h1>
        <h2 class="mbm"><small>{{ page.subtitle }}</small></h2>
        {% if page.finish %}
          <h3>{{ page.start }} &mdash; {{ page.finish }}</h3>
        {% else %}
          <h3>{{ page.start }}</h3>
        {% endif %}
      </div>
      <div class="small-12 medium-8 columns">
        {{ content }}
      </div>
      <div class="small-12 medium-4 columns">
        {% for image in page.images %}
          <img src="./{{ image }}"><br/><br/>
        {% endfor %}
      </div>
    </section>
  </div>
{% include foot.html %}
