{% include head.html %}
  <div class="row column">
    <section role="main">
      <div class="small-12 columns">
        <h1 class="mvl">{{ page.title }}</h1>
        {% if page.finish %}
          <h3>{{ page.start }} &mdash; {{ page.finish }}</h3>
        {% else %}
          <h3>{{ page.start }}</h3>
        {% endif %}
      </div>
      <div class="small-12 medium-8 columns">
        {{ content }}

        {% if page.pdf %}
          <div id="pdf-viewer" class="mbl"></div>
          <script src="{{ site.baseurl }}/js/pdfobject.min.js"></script>
          <script>PDFObject.embed("./{{ page.pdf }}", "#pdf-viewer");</script>
        {% endif %}
      </div>
      <div class="small-12 medium-4 columns">
        <img src="./preview.jpg">
      </div>
    </section>
  </div>
{% include foot.html %}
